PROJECT_NAME="Transaction Processing API"
ENVIRONMENT="development"

# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=transactions_db
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432

# Redis / Celery
REDIS_URL=redis://localhost:6379/0

# File Upload Settings
MAX_UPLOAD_SIZE_MB=50

# LLM Configuration
GEMINI_API_KEY=AQ.=
LLM_PROVIDER=gemini # fallback to openai, ollama later
LLM_BATCH_SIZE=50
